{% extends 'base.html' %}
{% block title %} MY SITE | ALL_COURSES {% endblock %}
{% block content %}
{% for course in courses %}
    <br>
<div class="d-flex align-items-stretch">
    <div  class="card "  style="width: 18rem;">
        {% if course.photo %}
            <img src="{{ MEDIA_URL }}{{course.photo.url }}" class="card-img-top" alt="{{course.name}}">
        {% endif %} 
          <div class="card-body">
            <div class="alert alert-dark" role="alert">
                    Course => {{ course.name}}
            </div>
              <div class="alert alert-dark" role="alert">
                   Price course => {{ course.price }}
            </div>
              <div class="alert alert-dark" role="alert">
                    Date beginnings course => {{ course.date_beginnings }}
              </div>
              <div class="alert alert-dark" role="alert">
                    Date endings course => {{ course.date_endings }}
              </div>
          </div>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo{{ course.id }}">Open opus</button>
                <div id="demo{{ course.id }}" class="collapse"><p class="text-center" >{{ course.description }}</p>
                    <a href="http://127.0.0.1:8000"  role="button"   class="btn btn-info btn-lg btn-block">Buy</a>
                </div>
{#                <form class="form-signin">#}
{#      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#      <label for="inputEmail" class="sr-only">Email address</label>#}
{#      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">#}
{#      <label for="inputPassword" class="sr-only">Password</label>#}
{#      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">#}
{#      <div class="checkbox mb-3">#}
{#        <label>#}
{#          <input type="checkbox" value="remember-me"> Remember me#}
{#        </label>#}
{#      </div>#}
{#      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>#}
{#      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>#}
{#    </form>#}
    </div>
</div>
    <br>
    <hr>
{% endfor %}
{% endblock %}
